<html>
<head>
  <%- css('css/main') %>
  <%- js("bower_components/jquery/dist/jquery.min.js") %>
  <%- js("js/dist/output.min") %>
  <meta charset="utf-8"> 
<body>
  <%- partial('_partial/navigation') %>
  <article id="container">
    <h1><a href="#">Explore South Asian Spirtuality</a></h1>
    <section class="post">
      <%- site.pages.first().content  %>
      <% site.posts.each(function(post) { %>
          <script id="color-picker-<%- post.id %>" type="x-tmpl-mustache">
          <%- post.content %>
          </script>
      <% }) %>
    </section>
  </article>
</body>
</html>
